### Pandas

#### DataFrame 사용해보기

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91]]

In [7]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'eng', 'math'], index=['a', 'b', 'c'])
my_df

       name  eng  math
a  dongwook   50    86
b    sineui   89    31
c   ikjoong   68    91

In [4]:
type(my_df)

pandas.core.frame.DataFrame

In [8]:
my_df.columns

Index(['name', 'eng', 'math'], dtype='object')

In [9]:
my_df.index

Index(['a', 'b', 'c'], dtype='object')

In [10]:
my_df.dtypes

name    object
eng      int64
math     int64
dtype: object

2차원 리스트나 2차원 numpy array, Pandas Series를 담고 있는 리스트, Dictionary로도 DataFrame을 만들 수 있음

#### csv 읽어들이기

In [13]:
import pandas as pd

iphone = pd.read_csv('iphone.csv')

## 헤더가 없는 경우 read_csv(header = None) 입력

In [14]:
iphone

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [15]:
type(iphone)

pandas.core.frame.DataFrame